* {
    margin: 0;
    padding: 0;
    cursor: pointer;
    cursor:url(./images/Arrow.cur),auto ;           
}

.body {
    background: linear-gradient(to left , rgba(255, 255, 0, 0.603), rgba(255, 0, 0, 0.685)), url(./images/windows-11-stock-oranage-abstract-white-background-3840x2400-8992.png);
    /* background-image: url(windows-10-polygon-4k-fz.jpg); */
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 120px; */
    /* cursor: pointer; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 600;
    
}

.box {
    width: 400px;
height: 400px;
    /* border: 1px solid rgb(196, 195, 192); */
    /* border-radius: 15px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
/* background:linear-gradient(to right bottom,transparent,rgba(255, 255, 255, 0.308));
backdrop-filter: blur(10px);
box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.644); */

background: rgba(255, 255, 255, 0.2); /*Transparent white */
backdrop-filter: blur(10px);
border-radius: 15px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
border: 1px solid rgba(255, 255, 255, 0.3); /* Inner border for glass look */
animation:1s fading-ani ease-in-out ;
}
@keyframes fading-ani {
from{
/* transform: translateY(-100px ); */
transform:  scale(120%);
opacity: 0%;
}
to{
transform: translateY(0px)  skew(0px,0px);
opacity: 100%;

}
}
h2{
font-size: 30px;
color: rgba(255, 255, 255, 0.8); /* Slightly transparent white */

}
input{
margin-top: 10px;

}
input::placeholder {
    color: rgba(112, 112, 112, 0.705); /* Light white placeholder */
    opacity: 1; /* Ensure full opacity */
}
.inputs input{
width: 350px;
max-width: 350px;
height: 40px;
/* background: transparent ; */
border:0px ;
backdrop-filter: blur(10px);
/* border-bottom: 2px solid  rgb(196, 195, 192) ; */
padding: 5px;
border-radius: 5px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 15px;
font-weight: 600;

outline: none;
background: rgba(255, 255, 255, 0.3);
color: #333; /* Dark gray for text */

}
.btn{
width: 350px;
height: 40px;
background-color: #ffa836;
backdrop-filter:blur(10px);
border: 2px solid  rgb(196, 195, 192) ;
border-radius: 5px;
border: 0px;
font-weight: bold;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 15px;


color: rgb(48, 47, 47);
cursor: pointer;
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Adds depth */
transition: all 0.3s ease;
}
.btn:hover {
background: #ffa601; /* Darker shade on hover */
box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); /* Increased shadow */
}
p{
margin: 10px;
}
a{
text-decoration: none;
color: chartreuse;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}